{% extends 'base2.html.twig' %}

{% block title %}Blackjack rules{% endblock %}

{% block body %}

<div class="rules-wrapper">
    <h1>About</h1>

    <h2>Project BlackJack</h2>
    <p>This project is a school projekt in mvc with symfony, where I built a card game application. The application I choosed is a Blackjack game.</p>
    <p>The game is supposed to replicate a Blackjack game with some rules simplified while maintaining a good code quality. The code is also documented, analysed and run thru Scrutinizer.</p>
</div>
{% endblock %}
