{% extends 'base2.html.twig' %}

{% block title %}Blackjack rules{% endblock %}

{% block body %}

<div class="rules-wrapper">
    <h1>About</h1>

    <h2>Projekt BLackJack</h2>
    <p>This projekt is a school projekt in mvc with symfony where I built an applikation. The applikation i choosed is a Blackjack game.</p>
    
</div>
{% endblock %}
