{% extends 'base2.html.twig' %}

{% block title %}Hello BlackjackController!{% endblock %}

{% block body %}

<div class="blackjack-wrapper">
    <h1>🂡 It's all about BlackJack 🂾</h1>
    <div class="background-table" style="background-image: url({{ asset('build/images/bjtable.jpg') }})">
        <button>PLAY</button>
    </div>
</div>
{% endblock %}
