{% extends 'base2.html.twig' %}

{% block title %}Blackjack rules{% endblock %}

{% block body %}

<div class="rules-wrapper">
    <h1>BlackJack rules</h1>

    <h2>Basics</h2>
    <p>The object of the game is to get closer to 21 than the dealer. If the players hand exceedes 21, the player busts and the wager is lost.</p>

    <h2>Card values</h2>
    <p>All numbered cards are worth their face value while all face cards are worth 10. Ace is worth 11 or 1 depending on if the hand value exceeds 21 or not.</p>
</div>
{% endblock %}
