/* body {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    border-bottom: 4px double #ccc;
} */

body {
    /* background: url('../images/background.jpg');
    background-size: cover; */
}

header {
    height: 150px;
}

footer {
    height: 75px;
    display: flex;
    margin: auto;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-title {
    height: 150px;
    display: flex;
    margin: auto;
    align-items: center;
}
.mvc-logo {
    max-height: 80%;
    width: auto;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    border-bottom: 4px double #ccc;
}


nav {
    background-color: white;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav * {
    display: inline;
}

nav li {
    margin: 30px;
}

nav li a {
    color: black;
    text-decoration: none;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .rainbow {
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #ffe0b2, #ffcc80, #ffd180, #cbe7e7, #a8d8ea, #c9c9ff, #e2b0ff);    color: white;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
    color: #333;
  }
