body {
    background-color: #1D0539;
    background-image: url('../images/purplebackground.svg');
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    padding: 0;
    font-size: 18px;
    color: whitesmoke;
}


header {
    height: 150px;
    margin-bottom: 100px;
    border-bottom: 3px solid gold;
    
}

.site-title {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
}

.casino-logo {
    max-height: 150px;
    margin-top: 5rem;
    width: auto;
}

main {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, p, ul, ol {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    margin-bottom: 1.25rem;
}
h1 {
    padding-bottom: 75px;
    background: linear-gradient(to bottom, gold 5%, #D4CD6A 40%, #FFF9AA 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
}

h1::after {
    background: none;
    content: attr(data-heading) / "";
    left: 0;
  top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
    -1px 0 1px #c6bb9f, 
    0 1px 1px #c6bb9f, 
    5px 5px 10px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(0, 0, 0, 0.4);
}

nav {
    margin-top: 5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    font-family: sans-serif;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    color: whitesmoke;
    text-decoration: none;
}

.blackjack-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.blackjackplay-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    margin-bottom: 75px;
}

.rules-wrapper {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 50px;
}

.background-table {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.playform {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}

.background-tableplay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 800px;
    width: 100%;
    height: 600px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background-table button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.site-footer {
    min-height: 100px;
}

button.pulse-button {
    animation: borderPulse 1200ms infinite ease-out, colorShift 10000ms infinite ease-in;
    font-size: 2rem;
  }


@keyframes colorShift {
    0%, 100% {
        background: #AAA239;
    }
    33% {
      background: #D4CD6A;
    }
    66%{
      background: gold;
    }
  }
  
  @keyframes borderPulse {
    0% {
      box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
    }
    100% {
      box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
    }

  }

.rules {
    color: #D4746A;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    color: #1D0539;

    width: 100px;
    height: 150px;
    padding: 10px;

    border: 1.5px solid;
    border-radius: 10px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.site-footer2 {
    padding: 50px 0;
    text-align: center;
    border-top: 3px solid gold;
    align-content: center;
}

.site-footer2 p {
    margin: 0;
    color: #81C18F;
}
