{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Redovisning</h1>
    
    <section id="kmom01">
        <h2>Kursmoment 01</h2>
        <p>Redovisningstext för kursmoment 01...</p>
    </section>
{% endblock %}
